01_rekognition/.serverless/cloudformation-template-create-stack.json
01_rekognition/.serverless/cloudformation-template-update-stack.json
01_rekognition/.serverless/ippon-rekognition-workshop.zip
01_rekognition/.serverless/serverless-state.json
02_textract/.serverless/cloudformation-template-create-stack.json
02_textract/.serverless/cloudformation-template-update-stack.json
02_textract/.serverless/ipi-rekognition-workshop.zip
02_textract/.serverless/serverless-state.json
02_textract/images/base_suspects/.DS_Store
.gitignore
02_textract/.serverless/ippon-textract-workshop.zip
02_textract/images/base_suspects/csv/base_suspects-01.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-02.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-03.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-04.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-05.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-06.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-07.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-08.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-09.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-10.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-11.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-12.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-13.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-14.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-15.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-16.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-17.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-18.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-19.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-20.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-21.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-22.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-23.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-24.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-25.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-26.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-27.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-28.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-29.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-30.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-31.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-32.jpg-results.csv
02_textract/images/base_suspects/csv/base_suspects-33.jpg-results.csv
02_textract/images/base_suspects/csv/suspects.csv
