01_rekognition/.serverless/cloudformation-template-create-stack.json
01_rekognition/.serverless/cloudformation-template-update-stack.json
01_rekognition/.serverless/ippon-rekognition-workshop.zip
01_rekognition/.serverless/serverless-state.json
